@model IEnumerable<Store.Base.Models.Campaign>

@{
    ViewData["Title"] = "Home";
}


@*<iframe href="https://arabmate.accessline.ps/" src="https://arabmate.accessline.ps/" title="description"></iframe>

    <style>
        .clickCard:hover {
            background-color: whitesmoke;
            cursor: pointer;
        }
    </style>
    <div onclick="myClcik11()" class="card col-lg-3 col-md-5 col-sm-12 clickCard" style="margin-top: 40px">
        <img class="card-img-top" width="100%" src=\images\CampaignImage\17.jpg alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Oculus Quest 2 </h5>
            <p class="card-text">
                $89.19 Import Fees Deposit & FREE Shipping to Palestinian Territories Details
                Available at a lower price from other sellers that may not offer free Prime shipping
            </p>
        </div>
    </div>
    <script>
        function myClcik11() {
            window.open("https://localhost:44356/Marketer/MarketerCampaign/Click?linkId=11");
        }
    </script>




    <style>
        .clickCard:hover {
            background-color: whitesmoke;
            cursor: pointer;
        }
    </style>
    <div onclick="myClcik12()" class="card col-lg-3 col-md-5 col-sm-12 clickCard" style="margin-top: 40px">
        <img class="card-img-top" width="100%" src=\images\CampaignImage\18.jpg alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">test</h5>
            <p class="card-text">test</p>
        </div>
    </div>
    <script>
        function myClcik12() {
            window.open("https://localhost:44356/Marketer/MarketerCampaign/Click?linkId=12");
        }
    </script>*@

<h1>Home</h1>

<form method="get">
    <br /><br />

    <div style="background-color:aliceblue">
        <div class="col-12">
            <div class="row" style="padding-top:10px;">
                <div class="col-2">
                    Name
                </div>
                <div class="col-3">
                    @Html.Editor("searchName", new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-3">

                </div>
                <div class="col-1">
                    <label>Sort by</label>
                </div>
                <div class="col-3">

                    <select id="SortBy" name="SortBy" class="form-control">
                        <option value="1">Release date</option>
                        <option value="2">Expiration date</option>
                        <option value="3">Remaining points</option>
                        <option value="4">Number of subscribers</option>
                    </select>
                </div>


            </div>
            <div class="row" style="padding-top:10px;">
                <div class="col-2">
                </div>
                <div class="col-3">
                </div>
                <div class="col-2">

                </div>
                <div class="col-2">
                </div>
                <div class="col-3">
                    <button type="submit" name="submit" value="Search" class="btn btn-primary form-control">
                        <i class="fas fa-search"></i> Search
                    </button>
                </div>

            </div>
        </div>
    </div>

    <br /><br />
</form>

@if (Model.Any())
{
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-6">
                <div class="card" style="margin: 20px">
                    <img class="card-img-top" width="100%" src=@item.Image alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">@item.Summary</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Remaining points: @item.Points</li>
                        <li class="list-group-item">Expire Date: @item.ExpireDate</li>
                        <li class="list-group-item">Number of subscribers: @item.SubscribersCount</li>
                    </ul>
                    <div class="card-body">
                        <a onclick="Subscribe(@item.Id, this, `@item.Title`)" type="button" style="color:white" class="btn-sm btn-primary">Subscribe</a>
                        <a asp-action="CampaignDetails" asp-route-CampaignId="@item.Id" type="button" class="btn-sm btn-primary">more</a>
                        <a onclick="Copy(@item.Id)" type="button" style="color:white" class="btn-sm btn-primary">Copy for website</a>
                        <a onclick="CopyUrl(@item.Id)" type="button" style="color:white; margin-top:10px" class="btn-sm btn-primary">Copy url</a>

                    </div>
                </div>
            </div>
        }
    </div>

}

<br />


@if ((int)ViewData["NumberOfPages"] > 1)
{
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @if ((int)ViewData["currentPage"] == 1)
            {
                <li class="page-item disabled"><a class="page-link">Previous</a></li>
                @* Disabled *@
            }
            else
            {
                <li class="page-item"><a class="page-link" asp-action="Index" asp-route-searchName="@ViewData["searchName"]" asp-route-CampaignPage="@((int)ViewData["currentPage"]-1)" asp-route-SortBy="@((int)ViewData["SortBy"])">Previous</a></li>
            }
            @for (int i = 1; i <= (int)ViewData["NumberOfPages"]; i++)
            {
                if ((int)ViewData["currentPage"] == i)
                {
                    <li id="@i" class="page-item disabled"><a disabled class="page-link">@i</a></li>
                    @* Disabled *@
                }
                else
                {
                    <li id="@i" class="page-item"><a class="page-link" asp-action="Index" asp-route-searchName="@ViewData["searchName"]" asp-route-CampaignPage="@i" asp-route-SortBy="@((int)ViewData["SortBy"])">@i</a></li>
                }
            }
            @if ((int)ViewData["currentPage"] == (int)ViewData["NumberOfPages"])
            {
                <li class="page-item disabled"><a class="page-link">Next</a></li>
                @* Disabled *@
            }
            else
            {
                <li class="page-item"><a class="page-link" asp-action="Index" asp-route-searchName="@ViewData["searchName"]" asp-route-CampaignPage="@((int)ViewData["currentPage"] + 1)" asp-route-SortBy="@((int)ViewData["SortBy"])">Next</a></li>
            }
        </ul>
    </nav>
}




@section Scripts{
    <script>


        //var currentPage = ;
        $(document).ready(function () {
            $('#table_id').DataTable();
        });


        $(document).ready(function () {
            // Construct URL object using current browser URL
            var url = new URL(document.location);

            // Get query parameters object
            var params = url.searchParams;

            // Get value of paper
            var SortBy = params.get("SortBy");

            // Set it as the dropdown value
            $("#SortBy").val(SortBy);
        });


        function Subscribe(campaignId, element, campaignTitle) {
            $.post('https://localhost:44356/Marketer/MarketerCampaign/Subscribe/', { CampaignId: campaignId })
                .done(function (returnedData) {
                    if (returnedData == 0) {

                        Notiflix.Notify.Warning("You already subscribed the campaign " + campaignTitle);
                    } else if (returnedData == 1) {

                        Notiflix.Notify.Success("The campaign " + campaignTitle + " subscibed successfully");
                    } else if (returnedData == -1) {
                        Notiflix.Notify.Failure("Can't Subscibe the campaign " + campaignTitle + ",refresh the page please");
                    }
                })
                .fail(function (returnedData) {
                    if (returnedData.status == 401 || returnedData.status == 403) {
                        Notiflix.Confirm.Show('You should login as a marketer', 'Do you want to login?', 'Yes', 'No',
                            function () { // Yes button
                                //window.location.href = 'https://localhost:44356/Customer/Account/Login';
                                $('#submitLogoutButton').click()
                            }, function () { // No button
                                //window.location.href = 'https://localhost:44356/Customer/Account/MarketerRegister';
                            });
                    }

                });
        }





        function Copy(campaignId) {
            $.post('https://localhost:44356/Marketer/MarketerCampaign/CreateLink/', { CampaignId: campaignId })
                .done(function (returnedData) {
                    if (returnedData.status == 1) {
                        const el = document.createElement('textarea');
                        el.value = `<style>
                                            .clickCard:hover {
                                                background-color: whitesmoke;
                                                cursor: pointer;
                                            }
                                        </style>
                                        <div onclick="myClcik` + returnedData.linkId + `()" class="card col-lg-3 col-md-5 col-sm-12 clickCard" style="margin-top: 40px">
                                            <img class="card-img-top" width="100%" src=https://localhost:44356`+ returnedData.cam.image + ` alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="card-title">`+ returnedData.cam.title + `</h5>
                                                <p class="card-text">`+ returnedData.cam.summary + `</p>
                                            </div>
                                        </div>
                                        <script>
                                            function myClcik` + returnedData.linkId + `() {
                                                window.open("https://localhost:44356/Marketer/MarketerCampaign/Click?linkId=` + returnedData.linkId + `");
                                            }
                                        </script`+ '>';
                        document.body.appendChild(el);
                        el.select();
                        document.execCommand('copy');
                        document.body.removeChild(el);


                        Notiflix.Notify.Success("The campaign " + returnedData.cam.title + " Copied successfully");
                    } else if (returnedData.status == -1) {
                        Notiflix.Notify.Failure("Can't Copy the campaign " + returnedData.cam.title + ",refresh the page please");
                    }
                })
                .fail(function (returnedData) {
                    if (returnedData.status == 401 || returnedData.status == 403) {
                        Notiflix.Confirm.Show('You should login as a marketer', 'Do you have a marketer account?', 'Yes', 'No',
                            function () { // Yes button
                                window.location.href = 'https://localhost:44356/Customer/Account/Login';
                            }, function () { // No button
                                window.location.href = 'https://localhost:44356/Customer/Account/MarketerRegister';
                            });
                        //Notiflix.Notify.Warning("You should login as a marketer to subscibe the campaign");
                    }

                });
        }



        function CopyUrl(campaignId) {
            $.post('https://localhost:44356/Marketer/MarketerCampaign/CreateLink/', { CampaignId: campaignId })
                .done(function (returnedData) {
                    if (returnedData.status == 1) {
                        const el = document.createElement('textarea');
                        el.value = "https://localhost:44356/Marketer/MarketerCampaign/Click?linkId=" + returnedData.linkId
                        document.body.appendChild(el);
                        el.select();
                        document.execCommand('copy');
                        document.body.removeChild(el);


                        Notiflix.Notify.Success("The url of campaign " + returnedData.cam.title + " copied successfully");
                    } else if (returnedData.status == -1) {
                        Notiflix.Notify.Failure("Can't Copy the campaign " + returnedData.cam.title + ",refresh the page please");
                    }
                })
                .fail(function (returnedData) {
                    if (returnedData.status == 401 || returnedData.status == 403) {
                        Notiflix.Confirm.Show('You should login as a marketer', 'Do you have a marketer account?', 'Yes', 'No',
                            function () { // Yes button
                                window.location.href = 'https://localhost:44356/Customer/Account/Login';
                            }, function () { // No button
                                window.location.href = 'https://localhost:44356/Customer/Account/MarketerRegister';
                            });
                        //Notiflix.Notify.Warning("You should login as a marketer to subscibe the campaign");
                    }

                });
        }




    </script>
}
