@model IEnumerable<Store.Base.Models.Campaign>

@{
    ViewData["Title"] = "Campaigns";
}

<h1>Campaigns</h1>
<br />
<table id="table_id" class="display">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>Vendor Name</th>
            <th>Vendor Username</th>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            @*<th>@Html.DisplayNameFor(model => model.ExpireDate)</th>*@
            <th>@Html.DisplayNameFor(model => model.Points)</th>
            <th>@Html.DisplayNameFor(model => model.CampaignTypes.Name)</th>
            <th>@Html.DisplayNameFor(model => model.IsApproved)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Vendor.User.FullName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Vendor.User.UserName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                    @*<td>@Html.DisplayFor(modelItem => item.ExpireDate)</td>*@
                    <td>@Html.DisplayFor(modelItem => item.Points)</td>
                    <td>@Html.DisplayFor(modelItem => item.CampaignTypes.Name)</td>
                    <td>
                        @if (item.IsApproved)
                        {
                            <a class="btn btn-success text-white" onclick="Lock(@item.Id, this, `@item.Title`)">
                                <i class="fas fa-lock-open"></i>
                            </a>
                        }
                        else
                        {
                            <a class="btn btn-danger text-white" onclick="Lock(@item.Id, this, `@item.Title`)">
                                <i class="fas fa-lock"></i>
                            </a>
                        }
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <a type="button" class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">
                                <i class="far fa-list-alt"></i>
                            </a>
                            <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>




@section Scripts{
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable();
        });


        function Lock(id, element, camTitle) {

            $.post('https://localhost:44356/Admin/Campaign/Lock/', { id: id },
                function (returnedData) {
                    if (returnedData == 1) {
                        $(element).toggleClass("btn-success");
                        $(element).toggleClass("btn-danger");
                        $(element).html(`<i class="fas fa-lock"></i>`);
                        Notiflix.Notify.Warning('The campaign '+ camTitle + " blocked");

                    } else {
                        $(element).toggleClass("btn-success");
                        $(element).toggleClass("btn-danger");
                        $(element).html(`<i class="fas fa-lock-open"></i>`);
                        Notiflix.Notify.Success('The campaign '+ camTitle + " approved");
                    }
                });
        }

    </script>
}